<% render 'layouts/flash_messages' %>

<section>
  <h1 class='user-header'>Welcome, <%= @client.first_name %>.</h1>
  <ul style='font-style:italic;'><%= @affirmation %></ul>
</section>

<section class='recent-events'>
  <h2>Recent events</h2>
  <ul>
    <% @client.user_events.last( 3 ).reverse.each do | event | %>
      <% event_datetime = event.created_at.in_time_zone( 'America/New_York' ) %>
      <li>
        You <b><%= event.description %></b> on <%= "#{ event_datetime.strftime( '%B %-d, %Y' ) } at #{ event_datetime.strftime( '%l:%M%P' ).strip }" %>
      </li>
    <% end %>
  </ul>
</section>

<section>
  <h2 class='user-header'>Credits</h2>
  <ul>
    <% if @client.credits.empty? %>
      <span>You have no credits. Contact your hypnotist for credits.</span>
    <% else %>
        <% @client.credits.each do | credit | %>
          <li>You purchased <b><%= "#{ credit.value } credit#{ credit.value > 1 ? 's' : '' }" %></b> on <%= credit.date.strftime( '%B %-d, %Y' ) %>. <%= link_to 'View invoice', invoice_path( credit.id ) %></li>
        <% end %>
    <% end %>
  </ul>
</section>

<section>
  <h2 class='user-header'>Appointments</h2>
  <% upcoming_appointments = @client.appointments.where( 'start > ?', DateTime.now ) %>
  <% if @client.release_signatures.empty? %>
    <li class='warning'>You haven't signed the release form yet, so you can't schedule appointments. <%= link_to "Click here", release_form_path %> to sign the release form.</li>
  <% elsif upcoming_appointments.empty? %>
    <span>You have no upcoming appointments.</span>
  <% else %>
    <%= week_calendar do | date | %>
      <% @client.appointments.each do | appointment | %>
        <% if appointment.start.to_date == date %>
          <div><%= link_to "#{ appointment.start.strftime( '%I%P' ).sub( '0', '' ) }", appointment_path( appointment.id ) %></div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <%= link_to 'Schedule an appointment', new_appointment_path if @client.balance > 0 %>
</section>

<section>
  <h2>Profile</h2>
  <ul>
    <li>Full name: <b><%= @client.full_name %></b></li>
    <li>Phone #: <b><%= @client.phone.blank? ? 'none' : @client.phone %></b></li>
    <li>Email: <b><%= @client.email %></b></li>
    <br />
    <div><%= link_to 'Click here', edit_client_path( @client.id ) %> to edit personal info or change your password</div>
  </ul>
</section>
