<%= render 'layouts/flash_messages' %>

<h1>Release of Liability</h1>

<p class='warning'>This page is a waiver and release of liability. It constitutes a legally binding agreement that outlines your responsibilities and governs your actions and behavior. You must carefully read this page and sign before scheduling hypnosis!</p>

<p>In consideration of my acceptance as a client and subject of hypnosis, I hereby take the following actions and make the following declarations for myself, my executors, administrators, heirs, next of kin, successors, and assigns:</p>

<ol>

  <li>I understand <b>hypnosis is not magic but a skill which requires practice and sincere commitment,</b> and that successfully achieving a psychedelic experience with hypnosis requires <b>non-optional individual homework and tasks, undertaken on a regular schedule,</b> without which the effectiveness of hypnosis will certainly decrease. I understand <b>Psychedelic Hypnosis makes no guarantees of success.</b></li>

  <li>I understand that <b>hypnosis is not a substitute in any way for any kind of medical care, and on no occasion should hypnosis, or the techniques used therein, be seen as medical advice or a substitute for medical advice, diagnosis, or treatment.</b></li>

  <li>I certify that <b>I am healthy and sufficiently prepared for hypnosis, and that I have not been advised by a qualified medical professional to not practice hypnosis.</b> I certify that there are no health-related reasons or problems which preclude my practice of hypnosis.</li>

  <li>I <b>waive, release, and discharge Psychedelic Hypnosis and its employees, trustees, officers, volunteers, representatives and agents from any and all liability,</b>  including but not limited to liability arising from the negligence or fault of these entities or persons released, for my death, disability, personal injury, property damage, property theft, or actions of any kind which may occur to me, including my traveling to/from my appointments.</li>

  <li>I <b>indemnify, hold harmless and promise not to sue</b> the entities or persons mentioned in this waiver and release them from any and all liabilities or claims made as a result of my practice of hypnosis, whether caused by the negligence of the releasee/s or otherwise. I acknowledge that <b>hypnosis can test a person's mental limits and carries with it the potential for an unpleasant experience. Risks include, but are not limited to, nausea, headache, dysphoria and activation of difficult emotions or traumatic memories.</b> I hereby consent to receive medical treatment which may be deemed advisable in the event of injury, accident, and/or illness during hypnosis.</li>

  <li>This waiver and release of liability shall be construed broadly to provide a release and waiver to the maximum extent permissible under applicable law.</li>

</ol>

<p><b>I certify that I have read this document, fully understand its content and agree to its terms. I am aware that this document is a release of liability and a contract, and I sign it of my own free will.</b></p>

<%= form_with class: 'sign-release-form', scope: :release_signature, url: sign_release_path, method: :post do | form | %>
  <%= form.hidden_field :client_id, value: current_user.id %>
  <span>
    <%= form.label :e_signature, 'E-Signature - Type your full legal name:' %>
    <%= form.text_field :e_signature, name: 'release_signature[e_signature]', required: true %>
  </span>
  <span>
    <%= form.label :date %>
    <%= form.date_field :date, name: 'release_signature[date]', required: true, placeholder: Date.today %>
  </span>
  <%= form.submit 'Sign' %>
<% end %>
