<script>
  const setAppointmentDate = date => {
    const formatDate = new Date( date ).toISOString().substring( 0, 16 );
    document.getElementById( 'appointment_date' ).value = formatDate;
  }
</script>

<h1>Schedule an appointment with <%= @hypnotist.full_name %></h1>

<%= week_calendar do | date | %>
  <% @availability.each do | block | %>
    <% if block.begin.to_date == date %>
      <% ( block.begin.to_i..block.end.to_i ).step( 1.hour ) do | hour | %>
        <%= link_to Time.at( hour ).strftime( '%I%P' ).sub( '0', '' ), "javascript:setAppointmentDate( #{ hour * 1000 } );" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= form_with scope: :appointment, url: "/appointments/new", method: :post do | form | %>
  <span>
    <%= form.label :date %>
    <%= form.datetime_local_field :date, required: true, id: "appointment_date" %>
  </span>
<% end %>
