<script>
  const setAppointmentDate = date => {
    const formatDate = new Date( date ).toISOString().substring( 0, 16 );
    document.getElementById( 'appointment_date' ).value = formatDate;
  }
</script>

<h1>Schedule an appointment with <%= @hypnotist.initialed_name %></h1>

<%= week_calendar do | date | %>
  <% @availability.each do | slot | %>
    <%= link_to slot.strftime( '%I%P' ).sub( '0', '' ), "javascript:setAppointmentDate( #{ slot.to_i * 1000 } );" if slot.to_date == date %>
  <% end %>
<% end %>

<%= form_with scope: :appointment, url: "/appointments/new", method: :post do | form | %>
  <span>
    <%= form.label :date %>
    <%= form.datetime_local_field :date, required: true, id: "appointment_date" %>
  </span>
<% end %>
