<script>
  setAppointmentDate = date => {
    const formatDate = new Date( date ).toISOString().substring( 0, 16 );
    document.getElementById( 'appointment_start' ).value = formatDate;
  }
</script>

<h1>Schedule an appointment with <%= @hypnotist.initialed_name %></h1>

<%= week_calendar do | date | %>
  <% @availability.each do | slot | %>
    <%= link_to slot.strftime( '%-I%P' ), "javascript:setAppointmentDate( #{ slot.to_i * 1000 } );" if slot.to_date == date %>
  <% end %>
<% end %>

<br />

<%= form_with scope: :appointment, url: "/appointments", method: :post, class: "new-appointment-form" do | form | %>

  <%= form.hidden_field :client_id, value: current_user.id, id: nil %>
  <%= form.hidden_field :hypnotist_id, value: params[ :id ], id: nil %>

  <div>
    <%= form.label :start, "Appointment date: " %>
    <%= form.datetime_local_field :start, required: true, id: "appointment_start" %>
  </div>

  <div>
    <%= form.label :notes, "Notes for your hypnotist (optional):" %>
    <br />
    <%= form.text_area :notes, cols: 40 %>
  </div>

  <div>
    <b><%= form.label :virtual, "In-person or virtual?" %></b>
    <%= form.select :virtual, [ [ "In-person", false ], [ "Virtual", true ] ] %>
  </div>

  <div>
    <%= form.check_box :cancellation_policy, required: true, oninvalid: "this.setCustomValidity( 'Please agree to the cancellation policy to schedule an appointment' )", oninput: "this.setCustomValidity( '' )" %>
    <span>
      <b><%= form.label :cancellation_policy, "Check here to agree to the cancellation policy:" %></b> You can cancel <u>up to 24 hours before your appointment</u> by clicking on your appointment from your profile, or by contacting your hypnotist.
    </span>
  </div>

  <% unless current_user.sms_consent %>
    <div class="consent" style="flex-flow: column wrap">
      <div>
        <b>Turn on automated messages (recommended but optional):</b> Activate automated messages to receive reminders about your hypnosis practice. Automated SMS reminders improve your hypnosis experience, and are included with your purchase of credits. You don't need to consent to automated text messages to schedule hypnosis, but <u>clients who use automated SMS reminders are more likely to successfully achieve a psychedelic experience</u>.
      </div>
      <div>
        <%= form.label :phone, "Phone #:" %>
        <%= form.text_field :phone, placeholder: current_user.phone %>
        <%= form.check_box :sms_consent %>
        <%= form.label :sms_consent, "By checking this box, I consent to receiving automated text messages." %>
      </div>
      <small>Message and data rates may apply. Reply STOP to opt out or HELP for more information at any time. Psychedelic Hypnosis will never sell your number or spam you. See <%= link_to 'privacy policy', privacy_path %> for more details.</small>
    </div>
  <% end %>

  <br />
  <%= form.submit "Schedule appointment" %>

<% end %>
