<a name="top" id="logo"><span>Psychedelic Hypnosis</span><br />of New York City</a>

<div id="login-status">
    <%= link_to "Home", home_path unless request.fullpath == home_path %>
    <%= " | " unless request.fullpath.match?( 'login' ) || request.fullpath == home_path %>
    <% unless request.fullpath.match?( 'login' ) %>
        <% if logged_in? %>
            <%= "Logged in as #{ current_user.username }" %>
        <% else %>
            <%= link_to "Client login", login_path %>
        <% end %>
        <%= " | " if logged_in? %>
        <%= link_to "My profile", client_path( current_user ) if logged_in? %>
        <%= " | " if logged_in? %>
        <%= link_to "Log out", logout_path, method: "delete", data: { confirm: "Are you sure you want to log out?" } if logged_in? %>
    <% end %>
</div>