<!DOCTYPE html>
<html lang="en-us">

  <head>
    <title>Psychedelic Hypnosis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <nav id="navbar">
      <%= render "layouts/navbar" %>
    </nav>

    <main id="content">
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
    </main>

    <%= render "layouts/footer" %>

  </body>

</html>
